<!--#region Paintings Section -->
<div class="wrap  recent-wrap" id="products">
    <section class="grid grid-pad">
        <div class="portfolio-items" >
            <div class="col-1-1">
                <br>
                <h2 >Paintings</h2>
                <br>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/1.jpg" alt="">                                    
                        <div class="overlay">
                            <span>Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Asian tourist - Illustration" href="assets/images/painting/1.jpg">Ireland tourist</a></h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/2.jpg" alt="">
                        <div class="overlay">
                            <span>Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:photography" title="Blue flowers - Photography" href="assets/images/painting/2.jpg">Greens</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/3.jpg" alt="">
                        <div class="overlay">
                            <span>Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Batman Wannabe - Illustration" href="assets/images/painting/3.jpg">Pink</a></h2>
                        </div>
                    </div>
                </div>
           
            
            </div>
            
            <div class="col-2-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/4.jpg" alt="">
                        <div class="overlay">
                            <span>Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:photography" title="Big city and dreams - Photography" href="assets/images/painting/4.jpg">Island</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/5.jpg" alt="">
                        <div class="overlay">
                            <span>Web Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:webdesign" title="Minimal nature - Web Design" href="assets/images/painting/5.jpg">Bridge</a></h2>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/6.jpg" alt="">
                        <div class="overlay">
                            <span>Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Jack the sailor - Illustration" href="assets/images/painting/6.jpg">Blue Trees</a></h2>
                        </div>
                    </div>
                    </div>
            </div>
        </div>

    </section>  
</div>
<!--#endregion -->

