<!--#region navbar -->
<header id="top-header" class="header-home">
    <div class="grid">
        <div class="col-1-1">
            <div class="content">
                <div class="logo-wrap">
                    <a href="#0" class="logo"><img src="assets/images/art.png"></a>
                </div>
                <nav class="navigation">
                    <input type="checkbox" id="nav-button">
                    <label for="nav-button" onclick></label>
                    <ul class="nav-container">
                        <li><a href="#home" class="current">Home</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#products">Products</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#account">Account</a></li>
                        <li><a href="#basket"><i class="fa fa-shopping-basket" style="color:white" aria-hidden="true"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--#endregion-->

<!--#region home bg -->
<div class="parallax-section ">
    <div class="grid grid-pad">
        <div class="col-1-1">
             <div class="content content-header" >
                <h2 >Say Goodbye To Drab Walls!</h2>
                <p>Pablo Picasso once said: “Every child is an artist. The problem is how to remain an artist once we grow up.” <br>Art has the ability to make reality seem even more real, and the unusual and fantastic seem ordinary.</p>
                <a  class="btn btn-ghost" href="#services">Find Out More</a>
            </div>
        </div>
    </div>
</div>
<!--#endregion -->

<!-- CurveUp -->
<svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
<path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>

<!--#region Services Section -->
<div class="wrap services-wrap" id="services">
    <section class="grid grid-pad services">
        <h2>Our Services</h2>
        <div class="col-1-2 service-box service-1" >
            <div class="content">
                <div class="service-icon">
                    <i class="circle-icon icon-heart4"></i>
                </div>
                <div class="service-entry">
                    <h3>Lovely Painting</h3>
                    <p>Painting is defined as the process of applying paint, or another medium, to a solid surface – usually a canvas. Paints or other forms of color are commonly applied to using a paintbrush.</p>
                    <a target="_blank" class="btn read-more" href="/products/paintings">See More</a>
                </div>
            </div>
        </div>
        <div class="col-1-2 service-box service-2" >
            <div class="content">
                <div class="service-icon">
                    <i class="circle-icon icon-star4"></i>
                </div>
                <div class="service-entry">
                    <h3>Great Design</h3>
                    <p>An art & design degree studies different visual media like painting, drawing, sculpture, and graphic design. Art and design majors learn basic design principles, color theory, critical thinking, and artistic techniques.</p>
                    
                    <a target="_blank" class="btn read-more" href="/products/graphic_design">Read More</a>
                </div>
            </div>
        </div>
    </section>
</div>
<!--#endregion -->

<!-- CurveDown -->
<svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>

<!--#region Recent Work Section -->
<div class="wrap grey recent-wrap" id="products">
    <section class="grid grid-pad">
        <h2>Recent Work</h2>
        <!-- Start of Filter section -->
        <div class="col-1-1 mix">
            <ul class="filters" >
               <!-- <li class="filter active" data-filter="all">All</li> -->
                <li class="filter active" data-filter=".illustration" ><a target="_blank" href="/products/paintings">Paintings</a></li>
                <li class="filter" data-filter=".web-design"><a target="_blank" href="/products/graphic_design">Graphic Design</a></li>
                <li class="filter" data-filter=".photography"><a target="_blank" href="/products/photography">Photography</a></li>
                <li class="filter" data-filter=".photography"><a target="_blank" href="/products/furnitures">Furnitures</a></li>
            </ul>
        </div>
        <!-- End of Filter section -->
        <div class="portfolio-items" >
            
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/1.jpg" alt="">                                    
                        <div class="overlay">
                            <span>Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Asian tourist - Illustration" href="assets/images/painting/1.jpg">Ireland tourist</a></h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/2.jpg" alt="">
                        <div class="overlay">
                            <span>Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:photography" title="Blue flowers - Photography" href="assets/images/painting/2.jpg">Greens</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/3.jpg" alt="">
                        <div class="overlay">
                            <span>Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Batman Wannabe - Illustration" href="assets/images/painting/3.jpg">Pink</a></h2>
                        </div>
                    </div>
                </div>
           
            
            </div>
            
            <div class="col-2-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/4.jpg" alt="">
                        <div class="overlay">
                            <span>Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:photography" title="Big city and dreams - Photography" href="assets/images/painting/4.jpg">Island</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/5.jpg" alt="">
                        <div class="overlay">
                            <span>Web Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:webdesign" title="Minimal nature - Web Design" href="assets/images/painting/5.jpg">Bridge</a></h2>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/painting/6.jpg" alt="">
                        <div class="overlay">
                            <span>Painting</span>
                            <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Jack the sailor - Illustration" href="assets/images/painting/6.jpg">Blue Trees</a></h2>
                        </div>
                    </div>
                    </div>
            </div>
            
        </div>
        <div class="col-1-1"><a class="btn" target="_blank"  href="/products">View More</a></div>

    </section>  
</div>
<!--#endregion -->

<!-- CurveUp -->
<svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>

<!--#region Quotes Section -->
<div class="wrap services-wrap" >
    <section class="grid grid-pad">
        <div class="col-1-1 service-box cl-client-carousel-container">
            <div class="content">
                <div class="cl-client-carousel">
                    
                    <div class="item client-carousel-item"><!-- Start of item -->
                    <div class="quotes-icon">
                        <i class="icon-quotes-left"></i>
                    </div>
                    <p>“Every child is an artist. The problem is how to remain an artist once we grow up.”</p>
                    <h4>-Pablo Picasso</h4>
                    </div><!-- End of item -->                       
                </div>
            </div>
        </div>
    </section>
</div>
<!--#endregion -->

 <!-- CurveDown -->
<svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>

<!-- 
<div class="wrap blog-grid grey" id="blog">
    <div class="grid grid-pad">
        <div class="content" >
            <h2>Our Blog</h2>
            <div class="col-1-2" >
                <article class="post-wrap">
                    <div class="post-img">
                        <a href="#0"><img src="assets/images/post/post-n1.jpg" alt=""></a>
                    </div>
                    <div class="post">
                        <h2 class="entry-title"><a href="#0">Drawing hour</a></h2>
                        <div class="post-meta">
                            <a href="#0">15 Januar, 2015</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                        </p>
                        <a class="btn read-more" href="#0">Read More</a>
                    </div>
                </article>
            </div>
            <div class="col-1-2" >
                <article class="post-wrap">
                    <div class="post-img">
                        <a href="#0"><img src="assets/images/post/post-n2.jpg" alt=""></a>
                    </div>
                    <div class="post">
                        <h2 class="entry-title"><a href="#0">Photography workshop</a></h2>
                        <div class="post-meta">
                            <a href="#0">2 Februar, 2014</a> <span class="mid-sep">·</span> <a href="#0">Photography</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                        </p>
                        <a class="btn read-more" href="#0">Read More</a>
                    </div>
                </article>
            </div>
            <div class="col-1-2" >
                <article class="post-wrap">
                    <div class="post-img">
                        <a href="#0"><img src="assets/images/post/post-n3.jpg" alt=""></a>
                    </div>
                    <div class="post">
                        <h2 class="entry-title"><a href="#0">On vacation</a></h2>
                        <div class="post-meta">
                            <a href="#0">26 March, 2014</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                        </p>
                        <a class="btn read-more" href="#0">Read More</a>
                    </div>
                </article>
            </div>
            <div class="col-1-2" >
                <article class="post-wrap">
                    <div class="post-img">
                        <a href="#0"><img src="assets/images/post/post-n4.jpg" alt=""></a>
                    </div>
                    <div class="post">
                        <h2 class="entry-title"><a href="#0">You have to take breaks</a></h2>
                        <div class="post-meta">
                            <a href="#0">19 June, 2014</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                        </p>
                        <a class="btn read-more" href="#0">Read More</a>
                    </div>
                </article>
            </div>
            <div class="col-1-1"><a class="btn" href="#0">View All</a></div>
        </div>
    </div>
</div>
 -->

<!-- CurveUp -->
<svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>

<!--#region Pricing Section -->
<div class="wrap grey" id="pricing">
    <div class="grid grid-pad">
        <div class="content"  >
            <div class="col-1-1">
                <section id="price-tables">
                    <h2>Pricing Discount</h2>
                    <ul id="plans" style="align-items:center;">
                        <li class="plan" >
                            <ul class="plan-wrap">
                                <li class="title"><h2>Paintings</h2></li>
                                <li class="price"><p>20%</p></li>
                                <li>
                                    <ul class="options">
                                        <li>From <span>5/2022</span></li>
                                        <li>Until <span>7/2022</span></li>
                                    </ul>
                                </li>
                                <li><a class="btn btn-price" target="_blank"  href="/products/paintings">Purchase</a></li>
                            </ul>
                        </li>
                        <li class="plan best-plan" >
                            <ul class="plan-wrap">
                                <li class="title"><h2 class="best-plan-title">Graphic Design</h2></li>
                                <li class="price"><p class="best-plan-price">70%</p></li>
                                <li>
                                    <ul class="options">
                                        <li>From <span>5/2022</span></li>
                                        <li>Until <span>7/2022</span></li>
                                    </ul>
                                </li>
                                <li><a class="btn btn-price" target="_blank"  href="/products/graphic_design">>Purchase</a></li>
                            </ul>
                        </li>
                        <li class="plan" >
                            <ul class="plan-wrap">
                                <li class="title"><h2>Photography</h2></li>
                                <li class="price"><p>50%</p></li>
                                <li>
                                    <ul class="options">
                                        <li>From <span>5/2022</span></li>
                                        <li>Until <span>7/2022</span></li>
                                    </ul>
                                </li>
                                <li><a class="btn btn-price" target="_blank"  href="/products/photography">Purchase</a></li>
                            </ul>
                        </li>
                        <li class="plan" >
                            <ul class="plan-wrap">
                                <li class="title"><h2>Furnitures</h2></li>
                                <li class="price"><p>50%</p></li>
                                <li>
                                    <ul class="options">
                                        <li>From <span>5/2022</span></li>
                                        <li>Until <span>7/2022</span></li>
                                    </ul>
                                </li>
                                <li><a class="btn btn-price" target="_blank"  href="/products/furnitures">Purchase</a></li>
                            </ul>
                        </li>
                    </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion -->

    <!-- CurveDown -->
    <svg class="curveDownColor curveGrey" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>

<!--#region Parallax2 -->
    <div class="parallax-section parallax2">                    
        <div class="wrap">
            <section class="grid grid-pad callout">
                <div class="col-1-3">
                    <div class="content" >
                    <div class="info-counter">
                            <div class="info-counter-row">
                                <i class="info-counter-icon icon-profile"></i>
                            </div>
                            <div class="info-counter-content">
                                <h5 class="info-counter-number">
                                <span class="counter">100+ &nbsp;</span>
                                <span class="info-counter-units">Workers</span>
                                </h5>
                            <div class="info-counter-text">Working in our company</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-3">
                    <div class="content" >
                    <div class="info-counter">
                            <div class="info-counter-row">
                                <i class="info-counter-icon icon-image"></i>
                            </div>
                            <div class="info-counter-content">
                                <h5 class="info-counter-number">
                                <span class="counter">322+ &nbsp;</span>
                                <span class="info-counter-units">Paintings</span>
                                </h5>
                            <div class="info-counter-text">Including all different kinds.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-1-3">
                    <div class="content" >
                    <div class="info-counter">
                            <div class="info-counter-row">
                                <i class="info-counter-icon icon-office"></i>
                            </div>
                            <div class="info-counter-content">
                                <h5 class="info-counter-number">
                                <span class="counter">10 &nbsp;</span>
                                <span class="info-counter-units">Stores</span>
                                </h5>
                            <div class="info-counter-text">All across Tunisia.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--#endregion -->

    <!-- CurveUp -->
    <svg class="curveUpColor curveGrey" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
    </svg>

<!--#region Team Section -->
    <div class="wrap team-wrap grey" id="team">
        <div class="grid grid-pad">
            <div class="content" >
                <h2>Our Team</h2>
                <div class="col-1-4" >
                    <div class="content staff-content">
                        <div class="recent-work staff-img">
                            <div class="img-wrap staff-img">
                                <img src="assets/images/team/pic3.png" alt="">
                                <div class="team-social">
                                    <a class="sl-fb" href="#"><i class="icon-facebook"></i></a>
                                    <a class="sl-tw" href="#"><i class="icon-twitter"></i></a>
                                    <a class="sl-gp" href="#"><i class="icon-googleplus2"></i></a>
                                    <a class="sl-ln" href="#"><i class="icon-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="work-info staff-info">
                                <h5>Mariem Moalla</h5>
                                <span>Founder</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1-4" >
                    <div class="content staff-content">
                        <div class="recent-work staff-img">
                            <div class="img-wrap staff-img">
                                <img src="assets/images/team/hamza.jpg" alt="">
                                <div class="team-social">
                                    <a class="sl-fb" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-facebook"></i></a>
                                    <a class="sl-tw" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-twitter"></i></a>
                                    <a class="sl-gp" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-googleplus2"></i></a>
                                    <a class="sl-ln" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="work-info staff-info">
                                <h5>Hamza Khlaf</h5>
                                <span>Marketing Specialist</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-1-4" >
                    <div class="content staff-content">
                        <div class="recent-work staff-img">
                            <div class="img-wrap staff-img">
                                <img src="assets/images/team/manel.jpg" alt="">
                                <div class="team-social">
                                    <a class="sl-fb" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-facebook"></i></a>
                                    <a class="sl-tw" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-twitter"></i></a>
                                    <a class="sl-gp" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-googleplus2"></i></a>
                                    <a class="sl-ln" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="work-info staff-info">
                                <h5>Manel Siala</h5>
                                <span>Developer</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-1-4" >
                    <div class="content staff-content">
                        <div class="recent-work staff-img">
                            <div class="img-wrap staff-img">
                                <img src="assets/images/team/sahar.jpg" alt="">
                                <div class="team-social">
                                    <a class="sl-fb" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-facebook"></i></a>
                                    <a class="sl-tw" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-twitter"></i></a>
                                    <a class="sl-gp" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-googleplus2"></i></a>
                                    <a class="sl-ln" target=”_blank” href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="work-info staff-info">
                                <h5>Sahar Abid</h5>
                                <span>Creative Designer</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--#endregion -->

    <!-- CurveDown -->
    <svg class="curveDownColor curveGrey" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>

<!--#region Map -->
    <div class="">                    
        <div class="">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="100%"height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=tunis%20bardo&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br><style>.mapouter{position:relative;text-align:right;height:350px;}</style><a href="https://www.embedgooglemap.net">adding google map to wordpress</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:350px;}</style></div></div>

        </div>
    </div>
    <!--#endregion-->
    
    <!-- CurveUp -->
    <svg class="curveUpColor " xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
    </svg>

<!--#region contact -->
    <div class="wrap contact" id="contact">
        <div class="grid grid-pad" >
            <h2>Contact Us</h2>
            <div class="col-1-2" >
                <div class="content address">
                    <h3>Who We Are</h3>
                    <p>Sustainable. Ethical. Beautiful. Think of us as a top-end museum gift shop, perfectly curated with soul, for the discerning but time-poor or home-bound. No scrolling through a confusion of choice, we've done the highly selective curating so you can trust the quality of all that we stock, and buy with confidence. </p>
                    <br>
                    <p>We aim to make life easier and more functional for you in these new times. Though supply issues have meant some disruptions, we have some wonderful new stock (and returning favourites) from our brilliant suppliers ...</p>
                    <address>
                        <div>
                            <div class="box-icon">
                                <i class="icon-location"></i>
                            </div>
                            <span>Address:</span>
                            <p>9, Street Maarouf Errasafi, Bardo, Tunis.</p>
                        </div>
                        
                        <div>
                            <div class="box-icon">
                                <i class="icon-clock"></i>
                            </div>
                            <span>Work Time:</span>
                            <p>Monday - Friday from 9am to 5pm</p>
                        </div>
                        
                        <div>
                            <div class="box-icon">
                                <i class="icon-phone"></i>
                            </div>
                            <span>Phone:</span>
                            <p>+2015 50 819 542</p>
                        </div>                                  
                    </address>
                </div>
            </div>
             <div class="col-1-2 pleft-25" >
                <div class="content contact-form">
                    <form class="form">
                        <div class="alert alert-primary" role="alert" *ngIf="waiting == true">
                            <strong
                            >Please wait while your message is being sent...</strong>
                        </div>
                        <div class="alert alert-success" role="alert" *ngIf="success == true">
                            <strong>Success!</strong> Your message has been
                            successefully sent.					  
                        </div>
                        
                        <input type="text" class="comment-name" placeholder="Name*" required>
                        <input type="email" class="comment-email" placeholder="Email*" required>
                        <input type="text" class="comment-subject" placeholder="Subject">
                        <textarea class="required comment-text" placeholder="Message..." required></textarea>
                        <input type="submit" value="Send Message" class="btn submit comment-submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->

    <!-- CurveDown -->
    <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
    </svg>

<!--#region Footer -->
    <footer class="wrap">
        <div class="grid grid-pad" >
            <div class="col-1-4">
                <div class="content">
                    <div class="footer-widget">
                        <h3>About</h3>
                        <div class="textwidget">
                            <p>Think of us as a top-end museum gift shop, perfectly curated with soul, for the discerning but time-poor or home-bound. </p><br>
                            <p>We aim to make life easier and more functional for you in these new times.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-4" >
                <div class="content">
                    <div class="footer-widget">
                        <h3>Menu</h3>
                        <div class="fwidget">
                            <ul>
                                <li><a href="#0">Services</a></li>
                                <li><a href="#0">Products</a></li>
                                <li><a href="#0">Acccount</a></li>
                                <li><a href="#0">Basket</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-4" >
                <div class="content">
                    <div class="footer-widget">
                        <h3>More info</h3>
                        <div class="textwidget">
                            <p>This gallery deals with the best publishers and artists, is modern, inviting, and full of exciting and ever-changing displays of the most talented and collected artists in the UK and beyond.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-4" >
                <div class="content">
                    <div class="footer-widget">
                        <h3>Flickr Feed</h3>
                        <div class="flickr-widget">
                            <ul class="flickr-list">
                                <li><a href="#0"><img src="assets/images/painting/1.jpg" alt=""></a></li>
                                <li><a href="#0"><img src="assets/images/painting/2.jpg" alt=""></a></li>
                                <li><a href="#0"><img src="assets/images/painting/3.jpg" alt=""></a></li>
                                <li><a href="#0"><img src="assets/images/painting/4.jpg" alt=""></a></li>
                                <li><a href="#0"><img src="assets/images/painting/5.jpg" alt=""></a></li>
                                <li><a href="#0"><img src="assets/images/painting/6.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-footer">
            <div class="grid grid-pad">
                <div class="col-1-1" >
                    <div class="content">
                        <div class="social-set">
                            <a  target="_blank" href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-facebook"></i></a>
                            <a  target="_blank" href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-twitter"></i></a>
                            <a  target="_blank" href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-linkedin2"></i></a>
                            <a  target="_blank" href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-dribbble4"></i></a>
                            <a  target="_blank" href="https://www.linkedin.com/in/mariem-moalla/"><i class="icon-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--#endregion -->



