<!--#region Paintings Section -->
<div class="wrap  recent-wrap" id="products">
    <section class="grid grid-pad">
        <div class="portfolio-items" >
            <div class="col-1-1">
                <br>
                <h2 >Graphic Design</h2>
                <br>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/graphic/1-big.jpg" alt="">                                    
                        <div class="overlay">
                            <span>Graphics</span>
                            <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Asian tourist - Illustration" href="assets/images/graphic/1-big.jpg">Ireland tourist</a></h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/graphic/2-big.jpg" alt="">
                        <div class="overlay">
                            <span>Graphics</span>
                            <h2><a class="img-wrap" data-rel="lightcase:photography" title="Blue flowers - Photography" href="assets/images/graphic/2-big.jpg">Greens</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/graphic/3-big.jpg" alt="">
                        <div class="overlay">
                            <span>Graphics</span>
                            <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Batman Wannabe - Illustration" href="assets/images/graphic/3-big.jpg">Pink</a></h2>
                        </div>
                    </div>
                </div>
           
            
            </div>
            
            <div class="col-2-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/graphic/4-big.jpg" alt="">
                        <div class="overlay">
                            <span>Graphics</span>
                            <h2><a class="img-wrap" data-rel="lightcase:photography" title="Big city and dreams - Photography" href="assets/images/graphic/4-big.jpg">Island</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/graphic/5-big.png" alt="">
                        <div class="overlay">
                            <span>Graphics</span>
                            <h2><a class="img-wrap" data-rel="lightcase:webdesign" title="Minimal nature - Web Design" href="assets/images/graphic/5-big.png">Bridge</a></h2>
                        </div>
                    </div>
                    </div>
            </div>
            <div class="col-1-3 ">
                <div class="content">
                    <div class="recent-work">
                        <img src="assets/images/graphic/6-big.webp" alt="">
                        <div class="overlay">
                            <span>Graphics</span>
                            <h2><a class="img-wrap" data-rel="lightcase:illustration" title="Jack the sailor - Illustration" href="assets/images/graphic/6-big.webp">Blue Trees</a></h2>
                        </div>
                    </div>
                    </div>
            </div>
        </div>

    </section>  
</div>
<!--#endregion -->

